<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiangju.mapper.CommentTopicMapper">

    <insert id="addComment" parameterType="CommentTopic" useGeneratedKeys="true" keyProperty="commentid">
        INSERT INTO comment_topic (topicid, userid, content, `time`, likes, replyid, reply_userid)
        VALUES (#{topicid}, #{userid}, #{content}, #{time}, #{likes}, #{replyid}, #{reply_userid});
    </insert>

    <select id="getTopicComments" parameterType="Integer" resultType="CommentTopic">
        SELECT * FROM comment_topic
        WHERE topicid = #{topicid}
        AND replyid = null
        ORDER BY 'time';
    </select>

    <select id="getTopicCommentReplys" parameterType="Integer" resultType="CommentTopic">
        SELECT * FROM comment_topic
        WHERE replyid = #{replyid}
        ORDER BY 'time';
    </select>

</mapper>